package main

import (
	"log"
	"github.com/arielsrv/go-secrets/secrets"
)

func main() {
	secretService := secrets.NewSecretService()
	value, err := secretService.Get("$PETS_APPNAME_SECRETKEY")
	if err != nil {
		log.Fatal(err)
	}
	log.Print(value)
}
