package main

import (
	"log"
	"gitlab.com/iskaypet/ikp_go_secret"
)

func main() {
	secretStore := secretStore.NewSecretStore()
	secret, err := secretStore.GetSecret("$PETS_APPNAME_SECRETKEY")
	if value.Err != nil {
		log.Fatal(err)
	}
	log.Print(secret.Value)
}
