<!DOCTYPE html>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github-dark-dimmed.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<body style="color: white; background: black; font-family:AppleSystemUIFont,sans-serif,Helvetica">
{{range $i, $snippet := .Model}}
    <h2>{{ $snippet.Language }}</h2>
    <p>Installation</p>
    <div>
        <pre>
            <code class="language-bash">{{ $snippet.Install }}</code>
        </pre>
    </div>
    <div>
        <pre>
            <code class="{{ $snippet.Class }}">{{ $snippet.Code }}</code>
        </pre>
    </div>
{{end}}
</body>
</html>